<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pie Chart</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('{{ url_for('static', filename='images/calculation.jpg') }}');
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            overflow-y: auto; 
        }
    </style>
</head>
<body>
    <p class="navbar-brand" href="#" style = "padding: 0px; margin: 0px; margin-top: 5px; margin-bottom: 5px; font-size: xx-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
      Emission Pie Chart
    </p>
    <div id="piechart" style="width: 900px; height: 500px;"></div>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var emissionData = [
                ['Category', 'Emissions'],
                ['Car', {{ emission.car_emissions }}],
                ['Two Wheeler', {{ emission.two_wheeler_emissions }}],
                ['Air Travel', {{ emission.air_travel_emissions }}],
                ['Electricity', {{ emission.electricity_emissions }}],
                ['Diet', {{ emission.diet_emissions }}],
                ['Waste', {{ emission.waste_emissions }}]
            ];

            // Create data table
            var data = google.visualization.arrayToDataTable(emissionData);

            // Set options for the pie chart
            var options = {
                title: 'Emissions Breakdown',
                pieHole: 0.4,
            };

            // Create a new instance of PieChart and draw the chart
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
    <!-- Add a new div for the bar chart -->
<div id="barchart" style="width: 900px; height: 500px;"></div>

<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawBarChart);

    function drawBarChart() {
        var emissionData = [
            ['Category', 'Emissions'],
            ['Car', {{ emission.car_emissions }}],
            ['Two Wheeler', {{ emission.two_wheeler_emissions }}],
            ['Air Travel', {{ emission.air_travel_emissions }}],
            ['Electricity', {{ emission.electricity_emissions }}],
            ['Diet', {{ emission.diet_emissions }}],
            ['Waste', {{ emission.waste_emissions }}]
        ];

        // Create data table
        var data = google.visualization.arrayToDataTable(emissionData);

        // Set options for the bar chart
        var options = {
            title: 'Emissions Breakdown',
            hAxis: {title: 'Emissions',  titleTextStyle: {color: '#333'}},
            vAxis: {minValue: 0}
        };

        // Create a new instance of BarChart and draw the chart
        var chart = new google.visualization.BarChart(document.getElementById('barchart'));
        chart.draw(data, options);
    }
</script>
</body>
</html>
